---

# The IPv4 cidr pool to create on startup if none exists. Pod IPs will be
# chosen from this range.
#podCidr: "10.42.0.0/16"

flannel:
  # kube-flannel image
  image:
    repository: rancher/hardened-flannel
    tag: v0.21.1-build20230208
  # The interface used by canal for host <-> host communication.
  # If left blank, then the interface is chosen using the node's
  # default route.
  iface: ""
  # kube-flannel command arguments
  args:
  - "--ip-masq"
  - "--kube-subnet-mgr"
  # Backend for kube-flannel. Backend should not be changed
  # at runtime.
  backend: "vxlan"
  backendPort: 0 # When 0 use default port

calico:
  # CNI installation image.
  cniImage:
    repository: rancher/hardened-calico
    tag: v3.25.0-build20230209
  # Canal node image.
  nodeImage:
    repository: rancher/hardened-calico
    tag: v3.25.0-build20230209
  # Flexvol Image.
  flexvolImage:
    repository: rancher/hardened-calico
    tag: v3.25.0-build20230209
  # kubecontroller image
  kubeControllerImage:
    repository: rancher/hardened-calico
    tag: v3.25.0-build20230209

  # Datastore type for canal. It can be either kuberentes or etcd.
  datastoreType: kubernetes
  # Wait for datastore to initialize.
  waitForDatastore: true
  # Configure route aggregation based on pod CIDR.
  usePodCIDR: true
  # Disable BGP routing.
  networkingBackend: none
  # Cluster type to identify the deployment type.
  clusterType: "k8s,canal"
  # Disable file logging so `kubectl logs` works.
  disableFileLogging: true
  # Disable IPv6 on Kubernetes.
  felixIpv6Support: false
  # Period, in seconds, at which felix re-applies all iptables state
  felixIptablesRefreshInterval: 60
  # iptables backend to use for felix, defaults to auto but can also be set to nft or legacy
  felixIptablesBackend: auto
  # Set Felix logging to "info".
  felixLogSeverityScreen: info
  # Enable felix healthcheck.
  felixHealthEnabled: true
  # Enable prometheus metrics
  felixPrometheusMetricsEnabled: true
  # Disable XDP Acceleration as we do not support it with our ubi7 base image
  felixXDPEnabled: false
  # Whether or not to masquerade traffic to destinations not within
  # the pod network.
  masquerade: true
  # Set Felix endpoint to host default action to ACCEPT.
  felixDefaultEndpointToHostAction: ACCEPT
  # Configure the MTU to use.
  vethuMTU: 1450
  # Typha is disabled.
  typhaServiceName: none
  # Kubelet flex-volume-plugin-dir
  flexVolumePluginDir: /var/lib/kubelet/volumeplugins
  # calico inbound failsafe ports. Empty string means defaults. Use 'none' to disable failsafe if you have your own rules.
  felixFailsafeInboundHostPorts: ""
  # calico outbound failsafe ports. Empty string means defaults. Use 'none' to disable failsafe if you have your own rules.
  felixFailsafeOutboundHostPorts: ""
  # The method to use to autodetect the IPv4 address for this host.
  ipAutoDetectionMethod: "first-found"
  # The method to use to autodetect the IPv6 address for this host.
  ip6AutoDetectionMethod: "first-found"
  # Enable calico kube-controllers
  calicoKubeControllers: false

global:
  systemDefaultRegistry: ""
  clusterCIDRv4: ""
  clusterCIDRv6: ""
